
*,
html,
body{
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --acsent-color: #FBBB23;
    --black-color: #000;
}

.text-white{
    color: #fff;
}


/* Header Styles */
.strip{
    height: .2rem;
    width: 100%;
    background-color: var(--acsent-color);
    position: absolute;
    z-index: 1;
}

header{
    position: relative;
}

header>.bg{
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    justify-items: center;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}

header>.bg>img{
    min-width: 100%;
    min-height: 100%;
}

.navbar{
    position: absolute;
    top: 0;
    margin-top: .2rem;
    min-width: 100%;
    max-height: 3.5rem;
    background-color: rgba(84, 74, 72, .7);
    box-shadow: 0 .1rem 34px rgba(84, 74, 74, .7);
}

.navbar>nav{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
}

.navbar>nav>header{
    text-align: center;
    width: 25rem;
}

.navbar>nav>header>h1{
    color: var(--acsent-color);
    font-family: 'Alex Brush', cursive;
    font-size: 2.8em;
    font-weight: bold;
}

.navbar>nav>footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar>nav>footer>.toggle{
    display: none;
}

.navbar>nav>footer>.toggle>svg{
    color: #fff;
}

.navbar>nav>footer>ul{
    display: flex;
    justify-content: center;
}

.navbar>nav>footer>ul>li{
    list-style: none;
    padding: 0 .9rem;
}

.navbar>nav>footer>ul>li>a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 1.01em;
}

.navbar>nav>footer>ul>li>a.active{
    color: var(--acsent-color);
}

.search{
    width: 66%;
    margin: 0 auto;
    padding: 2.5rem 5rem;
    background-color: rgba(0,0,0, .5);
    margin-top: -23rem;
    position: relative;
    z-index: 1;
    border-radius: .6rem;
    display: grid;
    gap: .5rem;
    color: #fff;
}

.search>.input-group{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.search>.input-group>input{
    padding: .7rem 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    width: 94%;
    background-color: rgba(255,255,255, 1);
    color: #505050;
}

.search>.input-group>input::placeholder{
    color: #7e7e7e;
}

.search>.input-group>button{
    padding: .5rem .5rem;
    border-radius: .3rem;
    border: none;
    background-color: var(--acsent-color);
    cursor: pointer;
}

.search>.input-group>button>svg{
    color: #fff;
}


/* Main Styles */
main{
    background: linear-gradient(transparent, var(--black-color) 4%);
    margin-top: 3rem;
    padding-bottom: 10rem;
    position: relative;
    z-index: 2;
    padding-top: 13.5rem;
    padding-inline: 7.5rem;
}

main>section.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

main>section>.card{
    border: .1rem solid var(--acsent-color);
    padding: .5rem .1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    min-height: 18.5rem;
    text-align: center;
    position: relative;
    border-radius: .3rem;
}

main>section>.card>header>h1{
    color: var(--acsent-color);
    font-size: 5em;
}

main>section>.card>header>h2{
    color: var(--acsent-color);
    position: relative;
    margin-top: -3.1rem;
    padding: .5rem 1rem;
    background-color: var(--black-color);
    font-weight: 400;
}

main>section>.card>footer>p{
    font-weight: 300;
}


main>section.about{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    color: #fff;
    margin-top: 8rem;
    gap: 3rem;
}

main>section.about>section.img{
    padding: .1rem;
}

main>section.about>section.img>img{
    max-width: 100%;
}

main>section.about>article{
    text-align: center;
}

main>section.about>article>h2{
    font-weight: 500;
    font-size: 2.1rem;
    color: var(--acsent-color);
    margin-bottom: 2rem;
}

main>section.about>article>p{
    font-weight: 300;
    line-height: 1.9rem;
}


main>section#carousel{
    margin-top: 8rem;
}

main>section#carousel>h2{
    color: var(--acsent-color);
    font-weight: 500;
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 3rem;
}

main>section#carousel>.carousel-wrapper>.carousel{
    width: 100%;
    height: 50%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    gap: 1.5rem;
}

main>section#carousel>.carousel-wrapper>.carousel>figure{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease-in;
    transform: translateX(0);
}

main>section#carousel>.carousel-wrapper>.carousel>figure>figcaption{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: .5rem 0;
    background-color: rgba(0,0,0, .4);
}

main>section#carousel>.carousel-wrapper>.carousel>figure>img{
    width: 16rem;
}

main>section#carousel>.carousel-wrapper{
    position: relative;
}

main>section#carousel>.carousel-wrapper>SVG.next{
    display: block;
    position: absolute;
    top: 8.5rem;
    right: -2.6rem;
    width: 65px;
    height: 65px;
    fill: var(--acsent-color);
    cursor: pointer;
}

main>section#carousel>.carousel-wrapper>SVG.next:hover{
    fill: rgba(251, 187, 35, .8);
    transition: all .25s ease-in-out;
}

main>section#carousel>.carousel-wrapper>SVG.prev{
    display: block;
    position: absolute;
    left: -1.3rem;
    top: 8.5rem;
    width: 65px;
    height: 65px;
    fill: var(--acsent-color);
    cursor: pointer;
}

main>section#carousel>.carousel-wrapper>SVG.prev:hover{
    fill: rgba(251, 187, 35, .8);
    transition: all .25s ease-in-out;
}



footer#section-footer{
    display: grid;
    grid-template-columns: 25% 15% 15% 25%;
    gap: .9rem;
    justify-content: center;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding-top: 2.5rem;
}

footer#section-footer::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .5);
    top: 0;
    left: 0;
}

footer#section-footer>section{
    position: relative;
    z-index: 1;
    justify-self: center;
    text-align: left;
}

footer#section-footer>section>footer{
    display: grid;
    gap: .3rem;
}

footer#section-footer>section.social-media>figure>svg{
    margin-left: -1rem;
}

footer#section-footer>section.social-media>figure>figcaption{
    margin-left: -1.1rem;
}

footer#section-footer>section.about>footer>h3, footer#section-footer>section.discover>footer>h3, footer#section-footer>section>figure>figcaption{
    font-weight: 300;
    font-size: 1rem;
}


footer#section-footer>section>figure{
    display: flex;
    gap: .5rem;
}

footer#section-footer>section>figure{
    margin-bottom: 1rem;
}


footer#section-footer>section>figure.call>svg{
    margin-left: -1rem;
}

footer#section-footer>section>figure.call>figcaption{
    margin-left: -1rem;
}

footer#section-footer>section>figure>svg{
    width: 5rem;
}

footer#section-footer>section>header>h2{
    font-weight: 500;
    color: var(--acsent-color);
    margin-bottom: 1.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 1270px){
    main>section.cards{
        grid-template-columns: repeat(3, 1fr);
    }

    main>section.about>article>p{
        font-weight: 300;
        line-height: 1.6rem;
        font-size: .9rem;
    }
}

@media screen and (max-width: 1050px){
    main>section.cards{
        grid-template-columns: repeat(2, 1fr);
    }

    main>section.about{
        grid-template-columns: minmax(40%, .5fr) 1fr;
    }

    main>section.about>section.img:nth-child(1)>img{
        border-radius: .5rem;
    }

    main>section.about>section.img:nth-child(3){
        display: none;
    }
}

@media screen and (max-width: 875px){
    footer#section-footer{
        grid-template-columns: repeat(2, 40%);
        gap: 3rem;
        padding-bottom: 4rem;
    }
    footer#section-footer>section{
        justify-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    main{
        padding: 13.5rem 4rem;
    }
}

@media screen and (max-width: 760px){
    main>section.about{
        grid-template-columns: 1fr;
    }

    main>section.about>section.img:nth-child(1){
        display: none;
    }

    .navbar>nav>header{
        text-align: left;
        padding-left: 2rem;
    }

    .navbar>nav{
        display: grid;
        grid-template-columns: minmax(10%, 1fr) minmax(50px, .2fr);
    }

    .navbar>nav>footer>.toggle{
        display: block;
    }

    .navbar>nav>footer>ul{
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: rgba(0,0,0, .5);
        display: grid;
        gap: 1.5rem;
        border-radius: .5rem;
        padding: 1rem;
        opacity: 0;
        transition: all .25s cubic-bezier(0.71, 0, 0.44, 1.46);
        margin-top: -5rem;
        transform: scale(.5);
    }

    .navbar>nav>footer>ul.active{
        opacity: 1;
    }
}

@media screen and (max-width: 650px){
    main{
        padding: 13.5rem 3rem;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 523px){
    main>section.cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 481px){
    .navbar>nav>header{
        width: 100%;
        text-align: center;
    }

    .search{
        width: 80%;
        box-sizing: border-box;
        font-size: 1em;
        padding: 2rem 2.5rem;
    }

    .search>.input-group>input{
        padding: .7rem 1rem;
        font-size: .9rem;
        font-weight: 400;
    }

    .search>.input-group>button{
        padding: .4rem;
        padding-right: .55rem;
        padding-left: .55rem;
    }

    .search>.input-group>button>svg{
      width: 20px;
    }

    footer#section-footer{
      padding: 2rem;
    }

    footer#section-footer h2{
      font-size: 1.1em;
    }

    footer#section-footer figcaption, footer#section-footer p{
      font-size: .9em !important;
      font-weight: 300 !important;
    }

    footer#section-footer svg{
      width: 5rem !important;
    }

    footer#section-footer > .help > figure.call > svg{
      margin-left: -1.5rem;
    }

    footer#section-footer > .help > figure.call> figcaption{
      margin-left: -2rem !important;
      width: 10rem;
    }
}
